<!DOCTYPE html>
<html>
<head>
	<link href="css/main.css" rel="stylesheet" />
	<link href="css/dropdown.css" rel="stylesheet" />
	<link href="css/page.css" rel="stylesheet" />
	<link href="css/search.css" rel="stylesheet" />
	<link href="css/modal.css" rel="stylesheet" />
	<link href="css/toast.css" rel="stylesheet" />
	<link href="css/apartment.css" rel="stylesheet" />
	<link href="css/reservation.css" rel="stylesheet" />
	<link href="css/reservationDialog.css" rel="stylesheet" />
	<meta charset="utf-8"/>
	<title>Rezervacija apartmana</title>
</head> 
<body>

<div id="main">
	<div id="topnav" class="topnav">
		<a href="#/" v-if="mode !== 'ADMIN'" @load ="isActive = 'home'"  @click ="isActive = 'home'" v-bind:class="{ active : isActive === 'home'}">Home</a>
		<a href="#/users" v-if="mode === 'ADMIN'" @load ="isActive = 'users'"  @click ="isActive = 'users'" v-bind:class="{ active : isActive === 'users'}">Users</a>
		<a href="#/users" v-if="mode === 'HOST'" @load ="isActive = 'guests'"  @click ="isActive = 'guests'" v-bind:class="{ active : isActive === 'guests'}">Guests</a>
		<a href="#/search" @click ="isActive = 'search'" v-bind:class="{ active : isActive === 'search'}">Search</a>
		<a href="#/reservations" v-if="mode !== 'ANON'" @click ="isActive = 'reservations' " v-bind:class="{ active : isActive === 'reservations'}">Reservations</a>
		<a href="#/apartments" v-if="mode === 'HOST'" @click ="isActive = 'apartments'" v-bind:class="{ active : isActive === 'apartments'}">Apartments</a>
		<div class="dropdown" id="dropdown" v-click-outside="closeDropdown">
			<button v-on:click="openDropdown" class="dropbtn" id="dropbtn">
				<img src="images/profile-blue.png" width="35" height="35"/>
				<span>{{ profile }}</span>
			</button>
			<div id="dropdown-content" class="dropdown-content" ref="myDropdown">
				<button v-if="mode === 'ANON'" id="popupSignupButton" @click="openSignUpPopup">Sign up</button>
				<button v-if="mode === 'ANON'" id="popupLoginButton" @click="openSignInPopup">Log in</button>
				<button v-if="mode !== 'ANON'" id="editProfileButton" @click="openEditProfile">Edit profile</button>
				<button v-if="mode !== 'ANON'" id="logoutButton" @click="logout">Log out</button>
			</div>
		</div>
		<!-- The Modal -->
		<signup-popup></signup-popup>
		<signin-popup></signin-popup>
		<edit-profile-popup></edit-profile-popup>
	</div>
	<div id="general" class="general">
		<router-view></router-view>
	</div>
</div>


<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/vue-cookies.js"></script>
<script src="js/axios.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/toast.js"></script>
<script src="app/apartments.js"></script>
<script src="app/users.js"></script>
<script src="app/topnav.js"></script>
<script src="app/homepage.js"></script>
<script src="app/reservations.js"></script>
<script src="app/search.js"></script>
<script src="app/app.js"></script>
</body>
</html>