.add-apartment-column{
	flex: 50%;
}

.add-apartment-content {
	background-color: white;
	margin: 30px auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 75%; /* Could be more or less, depending on screen size */
	text-decoration: none;
	font-size: 20px;
	font-family: 'Times New Roman', Georgia, serif;
	text-align: center;
	border-radius: 15px;
	display: block;
}

.apartment-form-container{
	display: flex;
}

.bigger{
	overflow: visible;
	height: auto;
}

.remove{
	color: #aaa;
	float: right;
	margin-right: 10px;
	font-weight: bold;
}

.remove:hover,
.remove:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.create-button-container{
	display: block;
	margin-top: 50px;
	margin-bottom: 20px;	
}

.create-button{
	background-color: #0075a6;
	color: white;
	padding: 15px 15px;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Times New Roman', Georgia, serif;
	border: #FFFFFF;
	outline: none;
	text-align: center;
	width: 150px;
	border-radius: 8px;
}

.create-button:hover {
  background-color: #009bdb;
  color: white;
  cursor: pointer;
}

.amenities-containter{
	display: flex;
	margin: 5px 20px 5px 20px;
	align-items: center;
  	justify-content: center;
}

.amenity-button-container{
	display:block;
	text-align: center;
	margin-top: 10px;
}

.amenity-table{
	border: solid 0.5px black;
	background-color: #f5f4f3;
	width: 200px;
	height: 100px;
	margin-top:  20px;
	margin-left: 10px; 
	margin-right: 10px; 
	display: inline-block;
	overflow: auto;
	text-align: center;
}

.amenity-table tr{
	width: 100%;
	display: block;
}

.amenity-table tr:hover{
	background-color: #E5F4FF;
	cursor: pointer;
}

.selected-amenity{
	background-color: lightgreen !important;
} 

.amenity-table th div{
	margin-top: -20px;
	position: absolute;
	color: grey;
	font-size: 16px;
	text-align: center;
	font-weight: normal;
}

.arrow-button{
	background-color: #0075a6;
	margin: 5px 0 3px 0;
	border-radius: 50%;
	display: inline-block;
  	padding: 8px 16px;
  	text-decoration: none;
  	border: none;
  	color:white;
	font-size: 20px
}

.arrow-button:hover{
	background-color: #009bdb;
  	color: white;
  	cursor: pointer;
}

.arrow-button span {
	display:block;
	color:white;
	font-size: 30px
}

.autocomplete-results {
    width: 100%;
    border: 1px solid #eeeeee;
    height: 120px;
    overflow: auto;
    z-index:99;
    position:relative;
    background-color: white;
    display: none;
 }

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 2px;
  cursor: pointer;
  color: grey;
}

.autocomplete-result:hover {
  background-color: #E5F4FF;
}
  
.map{
	height: 300px;
	width: 300px;
}

.apartment-type-radio-container{
	float: left;
	clear: none;
	margin-left: 20px;
}

.typeLabel{
	float: left;
      clear: none;
      display: block !important;
      padding: 0px 1em 0px 8px;
	color: black !important;
	border-radius: 0 !important;
}

.typeRadio{
	float: left;
	width: auto !important;
	margin-left: 50px
}

.price-container{
	display: flex;
	width:100%;
}

.browse-images-button{
	background-color: #0075a6;
	color: white;
	padding: 10px 10px;
	text-decoration: none;
	font-size: 16px;
	font-family: 'Times New Roman', Georgia, serif;
	border: #FFFFFF;
	outline: none;
	text-align: center;
	width: auto;
	border-radius: 8px;
}

.images-list{
	color:black !important;
	width: 100%;
	display: inline-block !important;
}

.error-border{
	border : solid #e50000 !important;
	border-width : 2px !important;
}

.image-preview{
	height: 100px;
	width: 100px;
}