.reservation-modal {
	background-color: gray;
	width: 400px;
	height: auto;
	max-height: 600px;
	padding: 6px 20px 20px 20px;
	border-radius: 10px;
	
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 
}


.reservation-modal .buttons {
	text-align: center;
	/*margin-bottom: 20px;*/
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}

.reservation-modal .row {
	
	padding: 10px 0 10px 0;
	/*display: flex;
	justify-content: space-around;*/

}

.reservation-modal .row input {
	padding: 5px;
	border-radius: 5px;
	border: none;
	margin-left: 5px;
}


.reservation-modal .buttons button {
	/*padding:10px 30px 10px 30px;*/
	padding:0.5em;
	min-width: 9em;
	border-radius: 10px;
	border: none;
}

.reservation-modal textarea{
	width: 100%;
	height: 8em;
	margin-top: 3px;
	border-radius: 10px;
	border: none;
	resize: none;
	overflow-y: scroll;
}

.reservation-modal .naslov {
	text-align: center;
}


.reservation-modal  h1{
	border-bottom: 1px solid rgba(255,255,255,0.5);
	padding-bottom: 10px;
}